<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shadowxz.dao.ChapterMapper" >
  <resultMap id="BaseResultMap" type="com.shadowxz.domain.Chapter" >
    <constructor >
      <idArg column="chapter_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="chapter_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="father_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="DetailResultMap" type="com.shadowxz.domain.Chapter" >
    <result property="chapterId" column="chapter_id" />
    <result property="chapterName" column="chapter_name" />
    <result property="fatherId" column="father_id" />
    <association property="homework" javaType="com.shadowxz.domain.Homework">
      <result property="id" column="homework_id" />
      <result property="description" column="homework_desc" />
    </association>
    <association property="courseware" javaType="com.shadowxz.domain.Courseware">
      <result property="id" column="courseware_id" />
      <result property="name" column="courseware_name" />
      <result property="file" column="courseware_file" />
    </association>
    <collection property="children" ofType="com.shadowxz.domain.Chapter">
      <result property="chapterId" column="child_chapter_id" />
      <result property="chapterName" column="child_chapter_name" />
        <result property="fatherId" column="child_father_id" />
      <association property="homework" javaType="com.shadowxz.domain.Homework">
      <result property="id" column="child_homework_id" />
      <result property="description" column="child_homework_desc" />
    </association>
      <association property="courseware" javaType="com.shadowxz.domain.Courseware">
      <result property="id" column="child_courseware_id" />
      <result property="name" column="child_courseware_name" />
        <result property="file" column="child_courseware_file" />
    </association>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    chapter_id, chapter_name, father_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from chapter
    where chapter_id = #{chapterId,jdbcType=VARCHAR}
  </select>
  <select id="selectAllChapters" resultMap="BaseResultMap">
     select
    <include refid="Base_Column_List" />
    from chapter
  </select>
  <select id="selectChildByFatherId" resultMap="DetailResultMap" parameterType="java.lang.String">
     select distinct t1.chapter_id,t1.chapter_name,t1.father_id as father_id ,t2.chapter_id as child_chapter_id,
       t3.id as homework_id,t3.description as homework_desc,
       t4.id as courseware_id,t4.name as courseware_name,t4.file as courseware_file,
       t2.chapter_name as child_chapter_name,t2.father_id as child_father_id,
       t5.id as child_homework_id ,t5.description as child_homework_desc,
       t6.id as child_courseware_id,t6.name as child_courseware_desc,t6.file as child_courseware_file
     from chapter t1
       left join homework t3 on t3.chapter_id = t1.chapter_id
       left join courseware t4 on t4.chapter_id = t1.chapter_id
       left join chapter t2 on t1.chapter_id = t2.father_id
       left join homework t5 on t5.chapter_id = t2.chapter_id
       left join courseware t6 on t6.chapter_id = t2.chapter_id
    where t1.father_id = #{fatherId,jdbcType=VARCHAR}
    order by t1.chapter_id,t2.chapter_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from chapter
    where chapter_id = #{chapterId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shadowxz.domain.Chapter" >
    insert into chapter (chapter_id, chapter_name, father_id
      )
    values (#{chapterId,jdbcType=VARCHAR}, #{chapterName,jdbcType=VARCHAR}, #{fatherId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shadowxz.domain.Chapter" >
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="chapterName != null" >
        chapter_name,
      </if>
      <if test="fatherId != null" >
        father_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterId != null" >
        #{chapterId,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        #{fatherId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shadowxz.domain.Chapter" >
    update chapter
    <set >
      <if test="chapterName != null" >
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        father_id = #{fatherId,jdbcType=VARCHAR},
      </if>
    </set>
    where chapter_id = #{chapterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shadowxz.domain.Chapter" >
    update chapter
    set chapter_name = #{chapterName,jdbcType=VARCHAR},
      father_id = #{fatherId,jdbcType=VARCHAR}
    where chapter_id = #{chapterId,jdbcType=VARCHAR}
  </update>
</mapper>