<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shadowxz.dao.HomeworkClazzMapper" >
  <resultMap id="BaseResultMap" type="com.shadowxz.domain.HomeworkClazz" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="clazz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="homework_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, clazz, homework_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from homework_clazz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from homework_clazz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shadowxz.domain.HomeworkClazz" >
    insert into homework_clazz (id, clazz, homework_id
      )
    values (#{id,jdbcType=INTEGER}, #{clazz,jdbcType=VARCHAR}, #{homeworkId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="inertHomeworkClazzs" parameterType="java.util.List">
    insert into homework_clazz (clazz, homework_id
      )
    values
      <foreach collection="list" separator="," item="item">
        (#{item.clazz,jdbcType=VARCAHR}, #{item.homeworkId,jdbcType=INTEGER})
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.shadowxz.domain.HomeworkClazz" >
    insert into homework_clazz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clazz != null" >
        clazz,
      </if>
      <if test="homeworkId != null" >
        homework_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clazz != null" >
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="homeworkId != null" >
        #{homeworkId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shadowxz.domain.HomeworkClazz" >
    update homework_clazz
    <set >
      <if test="clazz != null" >
        clazz = #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="homeworkId != null" >
        homework_id = #{homeworkId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shadowxz.domain.HomeworkClazz" >
    update homework_clazz
    set clazz = #{clazz,jdbcType=VARCHAR},
      homework_id = #{homeworkId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>